/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*body{
  display: grid;
  grid-template-columns: minmax(.5rem, 1fr) minmax(38ch, 75ch) minmax(.5rem, 1fr);
}
/*h1, section, iframe{
  grid-column: 2
}
*/

/*nav{
  display: grid;
  grid-template-columns: 1fr auto auto auto auto;
  grid-auto-flow: column;
  justify-items: end;
  font-family: 'Noto Sans', sans-serif;
  width: 100vw;
}*/

nav{
  grid-column: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: 'Noto Sans', sans-serif;
}

nav > * {
  color:white;
  margin: 2rem 1rem 2rem 0rem;
}

body{
  display: grid;
  grid-template-columns: 1fr;
}
section{
  grid-column: 1;
  display: grid;
  grid-template-columns: minmax(.5rem, 1fr) minmax(38ch, 75ch) minmax(.5rem, 1fr);
  /*grid-template-rows: repeat(4 min-content) 1fr;*/
  /*height: 100vh;*/
  font-family: 'Noto Sans', sans-serif;
  padding-bottom: 1rem
}

section > * {
  grid-column: 2;
  color: white;
}

img{
  width:100%;
  height: auto;
}

/*h1{
  font-weight: 700;
  font-size: 3rem;
  justify-self: center;
  align-self: center;
}*/

/*#titlepage{
  background-color: #48929B;
  align-content: center;
}*/

/*#titlepage > p{
  align-self: center;
  justify-self:center;
  text-align: center
}

/*.first{
  margin-top: 3rem
}*/

h3{
  margin:0rem;
}

h2:first-child {
  margin-top: 3rem;
}

.videoWrapper{
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.videoWrapper iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer{
  grid-column: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*background-color: #5E2824*/
  /*background-color: #6E5F57;*/
  /*background-color: #755D5B;*/
  background-color: #de5285 ;
}
footer a{
  margin: 2rem .5rem 2rem .5rem;
  color: #fefadf;
  font-size: 2rem;
}

nav {
  /*Stop the nav bar taking up 100% of row 1*/
  height: 2em;
}

#nav-button{
  display: none;
  padding: 2rem 1rem 2rem 0rem;
  margin: 0rem 0rem 0rem 0rem;
}

@media screen and (max-width: 768px){
  nav{
    display: none;
  }
  #nav-button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    grid-row: 1;
    color: #FFFFFF;
    height: 1rem;
  }
  #nav-button i, #nav-button a{
    margin-left: 0.5rem;
    color: #FFFFFF;
    text-decoration: none;
  }

  #nav-menu{
    z-index: 100;
    position: fixed;
    display: grid;
    top: 0;
    right: 0;
    background-color: #eceff4;
    grid-template-columns: 1rem minmax(30vh, 1fr) 1rem;
    height: 100vh;
    grid-auto-flow: column;
    align-content: start;
  }
  #nav-menu a{
    grid-column: 2;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5rem;
    margin-top: 1rem;
    color: #253577;
    text-decoration: none;
  }
  #nav-menu p, #nav-menu i{
    padding: 2rem 0rem 2rem 0rem;
    margin: 0rem 0rem 0rem 0rem;
    grid-column: 2;
    justify-self: end;
  }

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

